<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to text Analyzer. Enter your text. </h1>
<form action='/analyzer' method='get'>
    <textarea name="text" style='width: 1003px; height: 166px;'></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Puntuaation<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> NEW LINE REMOVER <br>
    <input type="checkbox" name="spaceremover"> Space Remover <br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>